###  Write an SQL query to show only odd rows from aÂ table.

    Select * from Workers where MOD(id,2)=1

### Write an SQL query to clone a new table from another table.

In [ ]:
 Create table Clone(
 ID INT PRIMARY KEY AUTO INCREMENT NOT NULL,
 FIRST_NAME CHAR(50),
 LAST_NAME CHAR(50),
 DEPARTMENT VARCHAR(50),
 Joining Date VARCHAR(20),
 Salary INT
 );

    INSERT INTO Clone Select * from Workers;