### Q-15. Write an SQL query to fetch intersecting records of two tables.

In [ ]:
    Select column_name from fiest_table intersect select column_name from Second_table

### Q-16. Write an SQL query to show records from one table that another table does not have.

In [ ]:
    Select * from first_table except select * from Second_table;